.gpt3__brand{
    display: flex;
    /* margin: 1rem 0; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gpt3__brand div{
    margin: 1rem 2rem;
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}