.contact_body{
    /* border: 2px solid black; */
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

/* .contact_body img{
    /* height: 90%;
    width: 85%;
     */
/* } */ 